*{
	margin: 0px;
}
h1{
	text-align: center;
	padding: 20px;
	text-shadow: 2px 2px;
	font-family: lucida handwriting;
	font-size: 40px;
}
body{
	margin-left: 0px;
	width: 100%;
	margin-top: 40px;
	background-image:url(bg1.jpeg);
	background-size: cover;
	position:relative;
	background-position: center center;
	
}
.Gallery{
width: 20%;
float: left;
padding: 10px;
padding-left: 40px;
display: block;
border-radius: 3px;
}
img{
	width: 100%;
	border-radius: 4px;
}
img:hover{
	transform: scale(2,2);


}